<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WorkflowProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="WorkflowProject.Properties.Settings.ConnectionString"
   connectionString="Dsn=workflow_database" providerName="System.Data.Odbc" />
  <add name="Workflow_databaseEntities" connectionString="metadata=res://*/Model_Database.csdl|res://*/Model_Database.ssdl|res://*/Model_Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Local;initial catalog=Workflow_database;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="Workflow_databaseEntities1" connectionString="metadata=res://*/Model_database.csdl|res://*/Model_database.ssdl|res://*/Model_database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\Local;initial catalog=Workflow_database;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="WorkflowProject.Properties.Settings.Workflow_databaseConnectionString"
   connectionString="Data Source=(localdb)\Local;Initial Catalog=Workflow_database;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
  
 <userSettings>
  <WorkflowProject.Properties.Settings>
   <setting name="v" serializeAs="String">
    <value>0</value>
   </setting>
  </WorkflowProject.Properties.Settings>
 </userSettings>
</configuration>